{% extends "base.html" %}

{% load static humanize %}
{% block content %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              <div class="post-thumbnail"><img src="{{ blog.thumbnail.url }}" alt="..." class="img-fluid"></div>
              <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                  <div class="category"><a href="#">{{ blog.categories }}</a></div>
                </div>
                <h1 id="title">{{ blog.title }}<a href="{% url 'blogapp:post' blog.slug %}#title"><i class="fa fa-bookmark-o"></i></a></h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="{{ blog.user.picture.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><span>{{ blog.user.get_profile_name }}</span></div></a>
                  <div class="d-flex align-items-center flex-wrap">       
                    <div class="date"><i class="icon-clock"></i> {{ blog.timestamp|naturaltime }}</div>
                    <div class="views"><i class="icon-eye"></i> {{ blog.views }}</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ blog.comment_set.all.count }}</div>
                  </div>
                </div>
                <div class="post-body">
                  {{ blog.content }}
                </div>
                
                <div class="post-tags">{% for tags in blog.tags.all %}<a href="#" class="tag">#{{ tags }}</a>{% endfor %}</div>                      
                
                <div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                  {% if blog.get_previous_by_timestamp %}
                  <a href="{% url 'blogapp:post' blog.get_previous_by_timestamp.slug %}"class="prev-post text-left d-flex align-items-center">
                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                    <div class="text"><strong class="text-primary">Previous Post </strong>
                      <h6>{{ blog.get_previous_by_timestamp.title }}.</h6>
                    </div></a>
                    {% endif %} 
                    {% if blog.get_next_by_timestamp %}
                    <a href="{% url 'blogapp:post' blog.get_next_by_timestamp.slug %}" class="next-post text-right d-flex align-items-center justify-content-end">
                    <div class="text"><strong class="text-primary">Next Post </strong>
                      <h6>{{ blog.get_next_by_timestamp.title }}.</h6>
                    </div>
                    <div class="icon next"><i class="fa fa-angle-right">   </i></div></a>
                  {% endif %}</div>
                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">({{ blog.comment_set.all.count }})</span></h3>
                  </header>
                  <div class="comment">
                    {% for comment in blog.comment_set.all %}
                      <div class="comment-header d-flex justify-content-between">
                        <div class="user d-flex align-items-center">
                          <div class="image"><img src="{{ comment.user.picture.url }}" alt="..." class="img-fluid rounded-circle"></div>
                          <div class="title"><strong>{{ comment.user.get_profile_name }}</strong><span class="date">{{ comment.timestamp|date:"M Y" }}</span></div>
                        </div>
                      </div>
                      <div class="comment-body">
                        <p>{{ comment.comment }}.</p>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="add-comment">
                  <header>
                    <h3 class="h6">Leave a reply</h3>
                  </header>
                  <form action="" class="commenting-form" method="POST" novalidate>
                    <div class="row">
                      <div class="form-group col-md-6">
                        <input type="text" value="{{ request.user.username }}" name="username" id="username" placeholder="Name" class="form-control">
                      </div>
                      <div class="form-group col-md-6">
                        <input type="email" value="{{ request.user.email }}" name="username" id="useremail" placeholder="Email Address (will not be published)" class="form-control">
                      </div>
                      <div class="form-group col-md-12">
                        {% csrf_token %}
                        {{ form }}
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        <aside class="col-lg-4">
          {% include "search.html" %}
          <!-- Widget [Latest Posts Widget]        -->
          <div class="widget latest-posts">
            <header>
              <h3 class="h6">Latest Posts</h3>
            </header>
            
            <div class="blog-posts">
              {% for blog in latest_blog %}
                <a href="{% url 'blogapp:post' blog.slug %}">              
                <div class="item d-flex align-items-center">
                  <div class="image"><img src="{{ blog.thumbnail.url }}" alt="..." class="img-fluid"></div>
                  <div class="title"><strong>{{ blog.title }}</strong>
                    <div class="d-flex align-items-center">
                      <div class="views"><i class="icon-eye"></i> {{ blog.views }}</div>
                      <div class="comments"><i class="icon-comment"></i>{{ blog.comment_set.all.count }}</div>
                    </div>
                  </div>
                </div></a>
              {% endfor %}
            </div>
          </div>
          <!-- Widget [Categories Widget]-->
          <div class="widget categories">
            <header>
              <h3 class="h6">Categories</h3>
            </header>
            {% for category in categories %}
              <div class="item d-flex justify-content-between"><a href="#">{{ category.title }}</a><span>{{ category.blog_set.all.count }}</span></div>
            {% endfor %}
          </div>
          <!-- Widget [Tags Cloud Widget]-->
          <div class="widget tags">       
            <header>
              <h3 class="h6">Tags</h3>
            </header>
            <ul class="list-inline">
              {% for tags in blog.tags.all %}
                <li class="list-inline-item"><a href="#" class="tag">#{{ tags }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </aside>
      </div>
    </div>
{% endblock content %}